
.thumbnail
{
width:150px;
height:150px;
margin:10px;
}
.thumbnail-link
{
text-decoration:none;
}
.thumbnail-link:hover
{
text-decoration:none;
}
.thumbnail-link:active
{
text-decoration:none;
}
.thumbnail-link:visited
{
text-decoration:none;
}
body
{
background-color:#cfcfcf;
}

